#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$ZtNGB4rHXWQ15y6s$Y9r8oU2u8XNuOWenww7ArQms3cT0jfMe7wM4Od4TGxZeXxxOYDB0pK5oqXOBzL7NDCX3q1EH/GoOwN8HMiKyh.
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=agupta --password=$6$ISb51R9F1LyZ7zD6$rusIizuwMOL9yu8j9WoXiHy3Xm0EXv7dwQF6U6xEmpyVxpeow1YFtpnswKKCU4kTKXFc4GRdznCAIZPE.8LEx. --iscrypted --gecos="Ashutosh Gupta"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
